#h3{
    font-size:xxx-large;
    color:red;
    
}
ul li a
{
    text-decoration:none;
    padding:10px;
    margin:15px;

}
.li
{
    background-color:aliceblue;
    padding:15px;
    color:black;
    
}